<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson 30 HW 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAA7AE8E1C479C940096B992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA7AEA71C479C940096B992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA7AEB21C479C940096B992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
